In [1]:
#School data
#Objectives:
#1. District Summary
#    Total Schools
#    Total Students
#    Total Budget
#    Average Math Score
#    Average Reading Score
#    % Passing Math (The percentage of students that passed math.)
#    % Passing Reading (The percentage of students that passed reading.)
#    % Overall Passing (The percentage of students that passed math and reading.)
#2. School Summary
#    School Name
#    School Type
#    Total Students
#    Total School Budget
#    Per Student Budget
#    Average Math Score
#    Average Reading Score
#    % Passing Math (The percentage of students that passed math.)
#    % Passing Reading (The percentage of students that passed reading.)
#    % Overall Passing (The percentage of students that passed math and reading.)
#3 Top 5 Performing Schools (By % Overall Passing)
#     School Name
#     School Type
#     Total Students
#     Total School Budget
#     Per Student Budget
#     Average Math Score
#     Average Reading Score
#     % Passing Math (The percentage of students that passed math.)
#     % Passing Reading (The percentage of students that passed reading.)
#     % Overall Passing (The percentage of students that passed math and reading.)
#4 Bottom 5 Performing Schools (By % Overall Passing)
#     Same metrics
#5 Math Scores by Grade**
#     Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#6 Reading Scores by Grade
#     Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#7 Scores by School Spending
#     Create a table that breaks down school performances based on average Spending Ranges (Per Student). 
#     Use 4 reasonable bins to group school spending. Include in the table each of the following:
#         Average Math Score
#         Average Reading Score
#         % Passing Math (The percentage of students that passed math.)
#         % Passing Reading (The percentage of students that passed reading.)
#         % Overall Passing (The percentage of students that passed math and reading.)
#8 Scores by School Size
#     Repeat the above breakdown, but this time group schools based on a 
#     reasonable approximation of school size (Small, Medium, Large).
#9 Scores by School Type
#     Repeat the above breakdown, but this time group schools based on a 
#     reasonable approximation of school type (Charter vs. District).

In [2]:
#import pandas module
import pandas as pd
import os

#create path for files
csv1_path = os.path.join(".", "Resources", "schools_complete.csv")
csv2_path = os.path.join(".", "Resources", "students_complete.csv")
school_data = pd.read_csv(csv1_path)
student_data = pd.read_csv(csv2_path)

In [3]:
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [4]:
student_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [5]:
merged_df = pd.merge(student_data, school_data, on= "school_name")
merged_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [22]:
school_count = school_data["school_name"].count()
student_count = merged_df["student_name"].count()
school_budget = school_data["budget"].sum()
distr_average_math = merged_df["math_score"].mean()
distr_average_reading = merged_df["reading_score"].mean()
print(f"The District has {school_count} Schools")
print(f"The District has {student_count} students")
print(f"District Budget: ${school_budget}")
print(f"District Average Math Score: {distr_average_math}")
print(f"District Average Reading Score: {distr_average_reading}")

reading_count = merged_df["reading_score"].count()
math_count = merged_df["math_score"].count()
passing_count = merged_df["Student ID"].count()

passing_reading = merged_df.loc[merged_df["reading_score"] <= 60, :]
passing_math = merged_df.loc[merged_df["math_score"] <= 60, :]
passing = merged_df.loc[(merged_df["math_score"] <= 60) | (merged_df["reading_score"] <= 60)]

total_passing_read = passing_reading["reading_score"].count()
total_passing_math = passing_math["math_score"].count()
total_passing = passing["Student ID"].count()                         

dist_read_perc = int(total_passing_read)/int(reading_count) *int(100)
dist_math_perc = int(total_passing_math)/int(math_count) *int(100)
dist_pass_perc = int(total_passing)/int(passing_count) *int(100)                         

print(f"Percentage of Students passing reading: {dist_read_perc}%")
print(f"Percentage of Students passing math: {dist_math_perc}%")
print(f"Percentage of Students passing: {dist_pass_perc}%")

The District has 15 Schools
The District has 39170 students
District Budget: $24649428
District Average Math Score: 78.98537145774827
District Average Reading Score: 81.87784018381414
Percentage of Students passing reading: 0.0%
Percentage of Students passing math: 9.093694153689048%
Percentage of Students passing: 9.093694153689048%