In [1]:
#School data
#Objectives:
#1. District Summary
#    Total Schools
#    Total Students
#    Total Budget
#    Average Math Score
#    Average Reading Score
#    % Passing Math (The percentage of students that passed math.)
#    % Passing Reading (The percentage of students that passed reading.)
#    % Overall Passing (The percentage of students that passed math and reading.)
#2. School Summary
#    School Name
#    School Type
#    Total Students
#    Total School Budget
#    Per Student Budget
#    Average Math Score
#    Average Reading Score
#    % Passing Math (The percentage of students that passed math.)
#    % Passing Reading (The percentage of students that passed reading.)
#    % Overall Passing (The percentage of students that passed math and reading.)
#3 Top 5 Performing Schools (By % Overall Passing)
#     School Name
#     School Type
#     Total Students
#     Total School Budget
#     Per Student Budget
#     Average Math Score
#     Average Reading Score
#     % Passing Math (The percentage of students that passed math.)
#     % Passing Reading (The percentage of students that passed reading.)
#     % Overall Passing (The percentage of students that passed math and reading.)
#4 Bottom 5 Performing Schools (By % Overall Passing)
#     Same metrics
#5 Math Scores by Grade**
#     Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#6 Reading Scores by Grade
#     Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#7 Scores by School Spending
#     Create a table that breaks down school performances based on average Spending Ranges (Per Student). 
#     Use 4 reasonable bins to group school spending. Include in the table each of the following:
#         Average Math Score
#         Average Reading Score
#         % Passing Math (The percentage of students that passed math.)
#         % Passing Reading (The percentage of students that passed reading.)
#         % Overall Passing (The percentage of students that passed math and reading.)
#8 Scores by School Size
#     Repeat the above breakdown, but this time group schools based on a 
#     reasonable approximation of school size (Small, Medium, Large).
#9 Scores by School Type
#     Repeat the above breakdown, but this time group schools based on a 
#     reasonable approximation of school type (Charter vs. District).

In [2]:
#import pandas module
import pandas as pd
import os

#create path for files
csv1_path = os.path.join(".", "Resources", "schools_complete.csv")
csv2_path = os.path.join(".", "Resources", "students_complete.csv")
school_data = pd.read_csv(csv1_path)
student_data = pd.read_csv(csv2_path)

In [3]:
#1. District Summary)
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [4]:
student_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [5]:
merged_df = pd.merge(student_data, school_data, on= "school_name")
merged_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [6]:
school_count = school_data["school_name"].count()
student_count = merged_df["student_name"].count()
school_budget = school_data["budget"].sum()
distr_average_math = round(merged_df["math_score"].mean(), 2)
distr_average_reading = round(merged_df["reading_score"].mean(), 2)

print(f"The District has {school_count} Schools")
print(f"The District has {student_count} students")
print(f"District Budget: ${school_budget}")
print("--------------------------")
print(f"District Average Math Score: {distr_average_math}")
print(f"District Average Reading Score: {distr_average_reading}")

reading_count = merged_df["reading_score"].count()
math_count = merged_df["math_score"].count()
passing_count = merged_df["Student ID"].count()

passing_reading = merged_df.loc[merged_df["reading_score"] >= 70, :]
passing_math = merged_df.loc[merged_df["math_score"] >= 70, :]
passing = merged_df.loc[(merged_df["math_score"] >= 70) & (merged_df["reading_score"] >= 70)]

total_passing_read = passing_reading["reading_score"].count()
total_passing_math = passing_math["math_score"].count()
total_passing = passing["Student ID"].count()                         

dist_read_perc = round(int(total_passing_read)/int(reading_count) *int(100), 2)
dist_math_perc = round(int(total_passing_math)/int(math_count) *int(100), 2)
dist_pass_perc = round(int(total_passing)/int(passing_count) *int(100), 2)                         

print("-------------------------------------")
print(f"Percentage of Students passing reading: {dist_read_perc}%")
print(f"Percentage of Students passing math: {dist_math_perc}%")
print(f"Percentage of Students passing: {dist_pass_perc}%")

The District has 15 Schools
The District has 39170 students
District Budget: $24649428
--------------------------
District Average Math Score: 78.99
District Average Reading Score: 81.88
-------------------------------------
Percentage of Students passing reading: 85.81%
Percentage of Students passing math: 74.98%
Percentage of Students passing: 65.17%

In [7]:
#2. School Summary
student_data_df = student_data[["school_name", "reading_score", "math_score"]]
school_group = student_data_df.groupby(["school_name"])
aver_group = school_group.mean()
aver_group = aver_group.rename(columns ={"reading_score": "average_reading_score", "math_score": "average_math_score"})

In [8]:
passing_reading2 = student_data_df.loc[merged_df["reading_score"] >= 70, :]
passing_math2 = student_data_df.loc[merged_df["math_score"] >= 70, :]
passing2 = student_data_df.loc[(merged_df["math_score"] >= 70) & (merged_df["reading_score"] >= 70)]

school_group2 = passing_reading2.groupby(["school_name"])
counted_group = school_group2.count()
counted_group

school_group3 = passing_math2.groupby(["school_name"])
counted_group2 = school_group3.count()
counted_group2

school_group4 = passing2.groupby(["school_name"])
counted_group3 = school_group4.count()
counted_group3

# percentages = counted_group[["school_name", "reading_score"]]
# percentages["passed_math"] = counted_group2["math_score"]
# percentages["passed"] = counted_group3["math_score"]
# percentages
merged1 = pd.merge(counted_group, counted_group2, on= "school_name")
merged2= pd.merge(merged1, counted_group3, on= "school_name")
del merged2["math_score_x"]
del merged2["reading_score_y"]
del merged2["math_score"]
merged2 = merged2.rename(columns ={"reading_score_x": "passed_reading", "math_score_y": "passed_math", "reading_score": "total"})

In [9]:
import pandas as pd
import os

merge3 = pd.merge(school_data, aver_group, on= "school_name")
merged_data2 = pd.merge(merge3, merged2, on= "school_name")

merged_data2["money_per_student"] = merged_data2["budget"]/merged_data2["size"]
merged_data2["% Passed Reading"]= (merged_data2["passed_reading"]/merged_data2["size"]) *int(100)
merged_data2["% Passed Math"] = (merged_data2["passed_math"]/merged_data2["size"]) *int(100)
merged_data2["% Passed"] = (merged_data2["total"]/merged_data2["size"]) *int(100) 
del merged_data2["passed_reading"]
del merged_data2["passed_math"]
del merged_data2["total"]
merged_data2

,School ID,school_name,type,size,budget,average_reading_score,average_math_score,money_per_student,% Passed Reading,% Passed Math,% Passed
0,0,Huang High School,District,2917,1910635,81.182722,76.629414,655.0,81.316421,65.683922,53.513884
1,1,Figueroa High School,District,2949,1884411,81.158020,76.711767,639.0,80.739234,65.988471,53.204476
2,2,Shelton High School,Charter,1761,1056600,83.725724,83.359455,600.0,95.854628,93.867121,89.892107
3,3,Hernandez High School,District,4635,3022020,80.934412,77.289752,652.0,80.862999,66.752967,53.527508
4,4,Griffin High School,Charter,1468,917500,83.816757,83.351499,625.0,97.138965,93.392371,90.599455
5,5,Wilson High School,Charter,2283,1319574,83.989488,83.274201,578.0,96.539641,93.867718,90.582567
6,6,Cabrera High School,Charter,1858,1081356,83.975780,83.061895,582.0,97.039828,94.133477,91.334769
7,7,Bailey High School,District,4976,3124928,81.033963,77.048432,628.0,81.933280,66.680064,54.642283
8,8,Holden High School,Charter,427,248087,83.814988,83.803279,581.0,96.252927,92.505855,89.227166
9,9,Pena High School,Charter,962,585858,84.044699,83.839917,609.0,95.945946,94.594595,90.540541
10,10,Wright High School,Charter,1800,1049400,83.955000,83.682222,583.0,96.611111,93.333333,90.333333
11,11,Rodriguez High School,District,3999,2547363,80.744686,76.842711,637.0,80.220055,66.366592,52.988247
12,12,Johnson High School,District,4761,3094650,80.966394,77.072464,650.0,81.222432,66.057551,53.539172
13,13,Ford High School,District,2739,1763916,80.746258,77.102592,644.0,79.299014,68.309602,54.289887
14,14,Thomas High School,Charter,1635,1043130,83.848930,83.418349,638.0,97.308869,93.272171,90.948012

In [10]:
#3 Top 5 Performing Schools (By % Overall Passing)
top5 = merged_data2.sort_values("% Passed", ascending=False).head(5)
top5

,School ID,school_name,type,size,budget,average_reading_score,average_math_score,money_per_student,% Passed Reading,% Passed Math,% Passed
6,6,Cabrera High School,Charter,1858,1081356,83.975780,83.061895,582.0,97.039828,94.133477,91.334769
14,14,Thomas High School,Charter,1635,1043130,83.848930,83.418349,638.0,97.308869,93.272171,90.948012
4,4,Griffin High School,Charter,1468,917500,83.816757,83.351499,625.0,97.138965,93.392371,90.599455
5,5,Wilson High School,Charter,2283,1319574,83.989488,83.274201,578.0,96.539641,93.867718,90.582567
9,9,Pena High School,Charter,962,585858,84.044699,83.839917,609.0,95.945946,94.594595,90.540541

In [11]:
#4 Bottom 5 Performing Schools (By % Overall Passing)
bottom5 = merged_data2.sort_values("% Passed", ascending=True).head(5)
bottom5

,School ID,school_name,type,size,budget,average_reading_score,average_math_score,money_per_student,% Passed Reading,% Passed Math,% Passed
11,11,Rodriguez High School,District,3999,2547363,80.744686,76.842711,637.0,80.220055,66.366592,52.988247
1,1,Figueroa High School,District,2949,1884411,81.158020,76.711767,639.0,80.739234,65.988471,53.204476
0,0,Huang High School,District,2917,1910635,81.182722,76.629414,655.0,81.316421,65.683922,53.513884
3,3,Hernandez High School,District,4635,3022020,80.934412,77.289752,652.0,80.862999,66.752967,53.527508
12,12,Johnson High School,District,4761,3094650,80.966394,77.072464,650.0,81.222432,66.057551,53.539172

In [12]:
#5 Math Scores by Grade*
grade_df= student_data[["grade", "school_name", "math_score"]]
grade_group = grade_df.groupby(["school_name", "grade"])
mean_grade = grade_group.mean()
mean_grade

                             math_score
school_name           grade
Bailey High School    10th    76.996772
                      11th    77.515588
                      12th    76.492218
                      9th     77.083676
Cabrera High School   10th    83.154506
                      11th    82.765560
                      12th    83.277487
                      9th     83.094697
Figueroa High School  10th    76.539974
                      11th    76.884344
                      12th    77.151369
                      9th     76.403037
Ford High School      10th    77.672316
                      11th    76.918058
                      12th    76.179963
                      9th     77.361345
Griffin High School   10th    84.229064
                      11th    83.842105
                      12th    83.356164
                      9th     82.044010
Hernandez High School 10th    77.337408
                      11th    77.136029
                      12th    77.186567
                      9th     77.438495
Holden High School    10th    83.429825
                      11th    85.000000
                      12th    82.855422
                      9th     83.787402
Huang High School     10th    75.908735
                      11th    76.446602
                      12th    77.225641
                      9th     77.027251
Johnson High School   10th    76.691117
                      11th    77.491653
                      12th    76.863248
                      9th     77.187857
Pena High School      10th    83.372000
                      11th    84.328125
                      12th    84.121547
                      9th     83.625455
Rodriguez High School 10th    76.612500
                      11th    76.395626
                      12th    77.690748
                      9th     76.859966
Shelton High School   10th    82.917411
                      11th    83.383495
                      12th    83.778976
                      9th     83.420755
Thomas High School    10th    83.087886
                      11th    83.498795
                      12th    83.497041
                      9th     83.590022
Wilson High School    10th    83.724422
                      11th    83.195326
                      12th    83.035794
                      9th     83.085578
Wright High School    10th    84.010288
                      11th    83.836782
                      12th    83.644986
                      9th     83.264706

In [13]:
#6 Reading Scores by Grade
grade_df2= student_data[["grade", "school_name", "reading_score"]]
grade_group2 = grade_df2.groupby(["school_name", "grade"])
mean_grade2 = grade_group2.mean()
mean_grade2

                             reading_score
school_name           grade
Bailey High School    10th       80.907183
                      11th       80.945643
                      12th       80.912451
                      9th        81.303155
Cabrera High School   10th       84.253219
                      11th       83.788382
                      12th       84.287958
                      9th        83.676136
Figueroa High School  10th       81.408912
                      11th       80.640339
                      12th       81.384863
                      9th        81.198598
Ford High School      10th       81.262712
                      11th       80.403642
                      12th       80.662338
                      9th        80.632653
Griffin High School   10th       83.706897
                      11th       84.288089
                      12th       84.013699
                      9th        83.369193
Hernandez High School 10th       80.660147
                      11th       81.396140
                      12th       80.857143
                      9th        80.866860
Holden High School    10th       83.324561
                      11th       83.815534
                      12th       84.698795
                      9th        83.677165
Huang High School     10th       81.512386
                      11th       81.417476
                      12th       80.305983
                      9th        81.290284
Johnson High School   10th       80.773431
                      11th       80.616027
                      12th       81.227564
                      9th        81.260714
Pena High School      10th       83.612000
                      11th       84.335938
                      12th       84.591160
                      9th        83.807273
Rodriguez High School 10th       80.629808
                      11th       80.864811
                      12th       80.376426
                      9th        80.993127
Shelton High School   10th       83.441964
                      11th       84.373786
                      12th       82.781671
                      9th        84.122642
Thomas High School    10th       84.254157
                      11th       83.585542
                      12th       83.831361
                      9th        83.728850
Wilson High School    10th       84.021452
                      11th       83.764608
                      12th       84.317673
                      9th        83.939778
Wright High School    10th       83.812757
                      11th       84.156322
                      12th       84.073171
                      9th        83.833333

In [14]:
#9 Scores by School Type
school_sorted = merged_data2[["type", "money_per_student", "average_reading_score",
                            "average_math_score", "% Passed Reading", "% Passed Math", "% Passed"]]
school_sorted = school_sorted.groupby(["type"])   
school_type = school_sorted.mean()
school_type

,money_per_student,average_reading_score,average_math_score,% Passed Reading,% Passed Math,% Passed
type,,,,,,
Charter,599.500000,83.896421,83.473852,96.586489,93.620830,90.432244
District,643.571429,80.966636,76.956733,80.799062,66.548453,53.672208